<br />
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-light">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 style="color:darkorange; font-size:40px;">kitapkurdu.com</h5>
                
                <a href="#" class="fa fa-facebook" style="background: #3B5998; color: white; padding: 20px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px;"></a>
                <a href="#" class="fa fa-twitter" style="background: #55ACEE; color: white; padding: 20px; font-size: 30px; width: 50px; text-align: center; text-decoration: none; margin: 5px 2px;"></a>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 >MÜŞTERİ HİZMETLERİ</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">İşlem Rehberi</a>
                    </li>
                    <li>
                        <a href="#!">İletişim</a>
                    </li>
                    <li>
                        <a href="#!">Ürün İadesi</a>
                    </li>
                    <li>
                        <a href="#!">Teslim Noktaları</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 >EKSTRALAR</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Yazarlar Ne OKuyor?</a>
                    </li>
                    <li>
                        <a href="#!">Kampanyalar</a>
                    </li>
                    <li>
                        <a href="#!">E-Dergi</a>
                    </li>
                    <li>
                        <a href="#!">Kütüphanem Uygulaması</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> kitapkurdu.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
